.container {
	max-width: $container-max-width;
	padding: $container-padding;
	margin: 0 auto;
}
.block {
	padding: $block-padding-mobile;

	@media screen and (min-width: $mq-tablet-min) {
		padding: $block-padding-tablet;
	}
	@media screen and (min-width: $mq-desktop-min) {
		padding: $block-padding-desktop;
	}

	&.bg-white {
		background-color: $color-white;
	}
}
// .single {
// 	.block {
// 		padding: 0rem 0;

// 		@media screen and (min-width: $mq-tablet-min) {
// 			padding: 0;
// 		}
// 		@media screen and (min-width: $mq-desktop-min) {
// 			padding: 0;
// 		}
// 	}
// }

.u--ul-flex {
	margin: 0;
	padding: 0;
	list-style: none;
}
.u--inner-container {
	padding-top: $inner-container-padding-mobile;
	padding-bottom: $inner-container-padding-mobile;

	@media screen and (min-width: $mq-tablet-min) {
		padding-top: $inner-container-padding-tablet;
		padding-bottom: $inner-container-padding-tablet;
	}
	@media screen and (min-width: $mq-desktop-min) {
		padding-top: $inner-container-padding-desktop;
		padding-bottom: $inner-container-padding-desktop;
	}
}
.u--flex {
	display: flex;
}
.u--justify-between {
	justify-content: space-between;
}
.u--center-button {
	text-align: center;
	.btn {
		margin: 0 auto;
	}
}
.u--4-col-flex {
	@include flexboxRow(4, 23, wrap);
}

.u--flex-1,
.u--flex-5,
.u--flex-9,
.u--flex-13,
.u--flex-17,
.u--flex-21 {
	&::after {
		content: '';
		flex-basis: 78%;
	}
}
.u--flex-2,
.u--flex-6,
.u--flex-10,
.u--flex-14,
.u--flex-18,
.u--flex-22 {
	&::after {
		content: '';
		flex-basis: 50%;
	}
}
.u--flex-3,
.u--flex-7,
.u--flex-11,
.u--flex-15,
.u--flex-19,
.u--flex-23 {
	&::after {
		content: '';
		flex-basis: 30%;
		@media only screen and (min-width: $mq-desktop-min) {
			flex-basis: 22%;
		}
	}
}

.u--font-bold {
	font-weight: 700;
}
.u--font-light {
	font-weight: 300;
}

.u--justify-between {
	justify-content: space-between;
}
.u--mw-900 {
	max-width: calc(900px + 4rem);
}
.u--mw-670 {
	max-width: 670px;
}
.u--justify-center {
	justify-content: center;
}
.u--flex-wrap {
	flex-wrap: wrap;
}

.u--back-link {
	color: #6f7070;
	font-size: 0.9rem;
	opacity: 0.6;
	text-transform: uppercase;

	a,
	a:visited {
		color: #6f7070;
		font-weight: 500;
		text-decoration: none;

		&:before {
			content: '';
			display: inline-block;
			width: 20px;
			height: 10px;
			background: url(../images/back-arrow.svg) no-repeat left;
		}
	}
}

.u--line-header {
	position: relative;
	text-align: center;
	margin: 0;

	span {
		padding: 0 1em;
		position: relative;
		font-weight: 300;
		font-size: 1.5rem;
		letter-spacing: 0.1em;

		@media only screen and (min-width: $mq-tablet-min) {
			font-size: 1.7rem;
			padding: 0 3.5em;
		}
		@media only screen and (min-width: $mq-desktop-min) {
			font-size: 1.9rem;
			padding: 0 5em;
		}
	}
}
.u--ie-object-fit {
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover; object-position: center;';
}

.no-items {
	&__wrapper {
		text-align: center;
		font-weight: 800;
	}
}

.u--text-center {
	text-align: center;
	font-weight: 800;
}

.u--stencil {
	font-family: $primary-font;
	text-transform: uppercase;
}

.u--flex-1,
.u--flex-5,
.u--flex-9,
.u--flex-13,
.u--flex-17,
.u--flex-21 {
	&::after {
		content: '';
		flex-basis: 78%;
	}
}
.u--flex-2,
.u--flex-6,
.u--flex-10,
.u--flex-14,
.u--flex-18,
.u--flex-22 {
	&::after {
		content: '';
		flex-basis: 30%;
	}
}
// .u--flex-3,
// .u--flex-7,
// .u--flex-11,
// .u--flex-15,
// .u--flex-19,
// .u--flex-23 {
//      &::after {
//         content: "";
//         flex-basis: 35%;
//      }
// }
