a.button {
	margin-top: 100px;
	font-family: rockwell, sans-serif;
	font-weight: 700;
	font-style: normal;
	background: $color-red;
	color: $color-white;
	border-radius: 30px;
	text-transform: uppercase;
	padding: 8px 35px 12px 35px;
	text-decoration: none;
}
